/* Author: Jonne Soininen */
/*Date: 8.11.2023*/
/*Indexstyles*/
/*Kommentti*/


html, body{
	margin:0;
	background-color: #40513B;
	font-family: Arial;
}

#pageWrapper{
	background-color: #40513B;
}
#headerwrapper{
	background-color: #2D4830;
}

h1{
	color: white;
}

 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #ADD8E6;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
} 

.center{
	text-align:center;
	width: auto;
	padding-left: 20px;
}

.linkright{

	text-align:right;
	width: auto;
	padding-right: 20px;

}

.boxleft{
	text-align:left;
	width: 275px;
	padding: 10px;
}


.text {
  font-size: 20px;
  color: white;
  text-align: center;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.laatikot{
	margin: 10px;
	border: solid;
	color: #2A322B;
	background-color: #2D4830;
}

.nimi{
	margin: 10px;
	border: solid;
	color: #2A322B; 
}
.kuva{
    width: 100%;
    max-width: 240px;
    height: auto; 
	margin: auto;
	text-align: left;
	padding: 10px;
}

p{
	color: white;
	font-size: 95%;
}

@media screen and (max-width: 1007px) and (min-width: 641px)  /*Mediumkoko 641-1007px*/
{
h1{
	color: white;
}

 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #ADD8E6;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
} 

.center{
	text-align:center;
	width: auto;
	padding-left: 20px;
}

.linkright{

	text-align:right;
	width: auto;
	padding-right: 20px;

}

.boxleft{
	text-align:left;
	width: 275px;
	padding: 10px;
}

.text {
  font-size: 30px;
  color: white;
  text-align: center;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.laatikot{
	margin: 10px;
	border: solid;
	color: #2A322B;
	background-color: #2D4830;
}

.nimi{
	margin: 10px;
	border: solid;
	color: #2A322B; 
}
.kuva{
    width: 100%; /* Make images responsive */
    height: auto;
}

p{
	color: white;
	font-size: 95%;
}

}
 @media screen and (min-width: 1008px) /*Iso koko yli 1008px*/
{
h1{
	color: white;
}

 /* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: #ADD8E6;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: blue;
} 

.center{
	text-align:center;
	width: auto;
	padding-left: 20px;
}

.linkright{

	text-align:right;
	width: auto;
	padding-right: 20px;

}

.boxleft{
	text-align:left;
	width: 275px;
	padding: 10px;
}

.text {
  font-size: 50px;
  color: white;
  text-align: center;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

.laatikot{
	margin: 10px;
	border: solid;
	color: #2A322B;
	background-color: #2D4830;
}

.nimi{
	margin: 10px;
	border: solid;
	color: #2A322B; 
}
.kuva{
    width: 100%; /* Make images responsive */
    height: auto;
}

p{
	color: white;
	font-size: 95%;
}

}

@media screen and (max-width: 640px) {



  .text {
    font-size: 20px;
  }

  .kuva {
    width: 100%; /* Make images responsive */
    height: auto;
  }

  p {
    color: white;
	font-size: 95%;
  }
}
